:root {
  font-family: 'Roboto', sans-serif, Georgia;
  line-height: 1.5;
  font-weight: 400;

  /* COLOR SCHEMA*/
  --color-main: #EEE;
  --color-secondary: #FDFDFD;

  --color-accent: #AFEEEE;

  --color-shadow: #333333;

  --color-positive: #98FB98;
  --color-negative:  #FFC0CB;

  --color-grey-light: #F9F9F9;

    --color-delete-hover: #FF6347;
    /* --color-delete-hover2: #D32F2F;  */
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: 300px minmax(640px, calc(100vw - 300px));
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar page";
  
  height: 100vh;
}