.nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-secondary);
}

.nav__hr {
    width: 80%;
}

.nav h2 {
    margin: 0;
}

/**************/
/** Sections **/
/**************/
.nav__sectionsDiv {
    width: 250px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

/**************/
/** Projects **/
/**************/
.nav__projectsDiv {
    width: 250px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav__addProjectButton {
    padding: 0;
    width: 40px;
    height: 40px;
    align-self: center;

    background-color: var(--color-accent);

    border: 0px solid black;
    border-radius: 50%;
    cursor: pointer;

    margin: 10px 0px;
}

    .nav__addProjectButton:hover {
        outline: 1px solid var(--color-shadow);
    }

.nav__addProjectIcon {
    width: 35px;
}