.nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-secondary);
}

.nav__hr {
    width: 80%;
}

.nav h2 {
    margin: 0;
}