.main {
    padding: 20px 20px;
    background-color: var(--color-main);
}

.main h2, .main h3, .main p {
    margin: 0px;
}

.main h2 {
    text-align: center;
    margin-bottom: 15px;
}

.main h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.main__addTaskDiv {
    display: flex;
    gap: 10px;
    height: 40px;

    background-color: var(--color-secondary);
    border-radius: 50px;
}

    .main__addTaskDiv-focus{
        outline: 2px solid var(--color-accent);
    }

    .main__addTaskButton{
        background-color: var(--color-secondary);
        /* padding: 10px 0px 10px 20px; */
        border: none;

        outline: none;
        width: 40px;
        cursor: pointer;
        border-radius: 50px;
    }

    .main__addTaskInput {
        width: 100%;
        padding: 10px 5px 10px 0px;

        background-color: var(--color-secondary);
        border: none;
        outline: none;
        border-radius: 50px;

        font-size: 1.2em;
    }

    .main__addTaskIcon {
        width: 40px;
        /* box-shadow: 5px 5px 10px black; */
        text-shadow: 5px 5px 10px black;
    }